build
dist
config/environment.json
*.swp
*.pyc
*.egg
*.coverage
*.egg-info
*.DS_Store

# PyCharm metadata
.idea/

# Mercurial metadata, for people that use git *only* for pushing to Github
.hg/
.hgignore
